<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #clientForm="ngForm" (ngSubmit)="addClient(clientForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]= "clientService.selectedClient._id">
            <div class="row">
              <div class="imput-field col s12">
                <input type="text" name="first_name" #first_name="ngModel" 
                [(ngModel)] = "clientService.selectedClient.first_name"
                placeholder="Nombre">
              </div>
              <div class="imput-field col s12">
                <input type="text" name="last_name" #last_name="ngModel" 
                [(ngModel)] = "clientService.selectedClient.last_name"
                placeholder="Apellido">
              </div>
              <div class="imput-field col s12">
                <input type="text" name="address" #address="ngModel" 
                [(ngModel)] = "clientService.selectedClient.address"
                placeholder="Dirección">
              </div>
              <div class="imput-field col s12">
                <input type="text" name="phone" #phone="ngModel" 
                [(ngModel)] = "clientService.selectedClient.phone"
                placeholder="Telefono">
              </div>
              <div class="imput-field col s12">
                <input type="text" name="e_mail" #e_mail="ngModel" 
                [(ngModel)] = "clientService.selectedClient.e_mail"
                placeholder="Correo Electronico">
              </div>
              <div class="card-action">
                <div class="input-fiel col s12">
                  <button class="btn orange">Save</button>
                  <button class="btn right red" (click)="resetForm(clientForm)">Clean</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dirección</th>
          <th>Telefono</th>
          <th>Correo Electronico</th>
          <th>Operaciones</th>
        <tbody>
          <tr *ngFor="let client of clientService.clients">
              <td> {{ client.first_name }}</td>
              <td> {{ client.last_name }}</td>
              <td> {{ client.address }}</td>
              <td> {{ client.phone }}</td>
              <td> {{ client.e_mail }}</td>
              <td> {{ client.perfil }}</td>
              <td>
                <a (click)="editClient(client)">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deleteClient(client._id)">
                    <i class="material-icons">delete</i>
                  </a>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
