<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/book-create']">
    <mat-icon>add</mat-icon>
  </a>
  <a class="download-pdf" mat-raised-button color="warn" (click)="onGeneratePDF()">
    Generate PDF
  </a>
  <button class="download-excel" mat-raised-button (click)="exportAsXLSX()">
    Generate Excel
  </button>
</div>

<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" id="table-books">

    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let element" class="isbn-col"> {{element.isbn}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/book-details/', row._id]"></tr>
  </table>
</div>