<footer class="page-footer fo-oter">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Contacto</h5>
              <p class="grey-text text-lighten-4">La Bella Lola se encuentra ubicada en Dolores Hidalgo en la calle
                los pinos.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Redes Sociales</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          </div>
        </div>
   </footer>
