<app-navpages></app-navpages>
<!--Slider-->
  <section>
    <div class="slider">
      <ul>
        <li>
          <img src="assets/img/1.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/2.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/3.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/4.jpg" alt="">
        </li>
      </ul>
    </div>
  </section>
  
  <!--Seccion parallax-->
      <section>
          <div class="section text-inicio cam-bio">
            <div class="row container">
            <h3 class="header center-align">"La bella Lola Marquesitas"</h3>
            <p class="center-align">Somos Tu Espacio.</p>
            </div>
          </div>
      </section>


<ul class="galeria">
 <li><a><img src="assets/img/10.jpg"></a></li>
 <li><a><img src="assets/img/11.jpg"></a></li>
 <li><a><img src="assets/img/12.jpg"></a></li>
 <li><a><img src="assets/img/13.jpg"></a></li>
</ul>

<div class="modal">
 <h3>Marquesita</h3>
 <div class="imagen">
   <a><img src="assets/img/10.jpg"></a>
 </div>
</div>

<div class="modal">
 <h3>Helado</h3>
 <div class="imagen">
     <a><img src="assets/img/11.jpg"></a>
 </div>
</div>

<div class="modal">
 <h3>Marquesita</h3>
 <div class="imagen">
     <a><img src="assets/img/12.jpg"></a>
 </div>
</div>

<div class="modal">
 <h3>Helado</h3>
 <div class="imagen">
     <a><img src="assets/img/13.jpg"></a>
 </div>
</div>

<app-footer></app-footer>