<app-navpages></app-navpages>
<section>
        <div class="row form-1 tipografia-contact">
       <form class="col s12">
         <div class="row">
           <div class="input-field col s6">
             <input id="last_name" type="text" class="validate">
             <label for="last_name">Nombre</label>
           </div>
             <div class="input-field col s6">
               <input id="email" type="email" class="validate">
               <label for="email">Email</label>
             </div>
         </div>
         <div class="row">
           <div class="input-field col s12">
             <input id="telefono" type="number" class="validate">
             <label for="">Numero de Telefono</label>
           </div>
         </div>
         <div class="row">
             <div class="input-field col s12">
               <textarea id="textarea1" class="materialize-textarea"></textarea>
               <label for="textarea1">Escribe tu Mensaje</label>
             </div>
           </div>
         <a class="waves-effect waves-light btn boton" href="#">Enviar</a>
       </form>
     </div>
      </section>
      <app-footer></app-footer>
