<app-index></app-index>

<section>
        <div class="section text-nosotros cam-bio">
          <div class="row container">
          <h2 class="header center-align">"La Bella Lola Marquesitas"</h2>
          <p class="center-align">Vamos de un lado a otro buscando, viajamos y experimentamos para encontrar sabores. La Bella Lola Marquesitas está formada por un grupo de jóvenes emprendedores con la idea de hacer los mejores helados de México y llevar esta experiencia gastronómica a los parques, plazas, bazares mesas de los mejores restaurantes y también a las las casas de la gente que aprecia lo bien hecho, y que, como nosotros, va buscando sabores y experiencias..</p>
          </div>
        </div>
        <div class="parallax-container">
          <div class="parallax"><img src="assets/img/7.jpg"></div>
        </div>
        <div class="section color-nosotros cam-bio">
          <div class="row container">
       <ul class="collapsible popout" data-collapsible="expandable">
       <li>
         <div class="collapsible-header active deep-color">Misión</div>
         <div class="collapsible-body"><p class="tam-tipografia">Lorem ipsum dametdsssssssssssssssssssssssssss
           sddddddddddddddddddddddddddddddddddddd
           sdddddddddddddddddddddddddddddddd.</p></div>
       </li>
       <li>
         <div class="collapsible-header active deep-color">Visión</div>
         <div class="collapsible-body"><p class="tam-tipografia">Lorem ipsum dametdsssssssssssssssssssssssssss
           sddddddddddddddddddddddddddddddddddddd
           sdddddddddddddddddddddddddddddddd.</p></div>
       </li>
       <li>
         <div class="collapsible-header active deep-color">Valores</div>
         <div class="collapsible-body"><p class="tam-tipografia">Lorem ipsum dametdsssssssssssssssssssssssssss
           sddddddddddddddddddddddddddddddddddddd
           sdddddddddddddddddddddddddddddddd.</p></div>
       </li>
     </ul>
          </div>
        </div>
    </section>
   


<app-footer></app-footer>

