<app-navpages></app-navpages>
        <div class="section text-nosotros cam-bio">
          <div class="row container">
          <h2 class="header center-align">"La Bella Lola Marquesitas"</h2>
          <p class="center-align">Vamos de un lado a otro buscando, viajamos y experimentamos para encontrar sabores. La Bella Lola Marquesitas está formada por un grupo de jóvenes emprendedores con la idea de hacer los mejores helados de México y llevar esta experiencia gastronómica a los parques, plazas, bazares mesas de los mejores restaurantes y también a las las casas de la gente que aprecia lo bien hecho, y que, como nosotros, va buscando sabores y experiencias..</p>
          </div>
        </div>

           <!--Slider-->
           <section>
            <div class="slider">
              <ul>
                <li>
                  <img src="assets/img/1.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/2.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/3.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/4.jpg" alt="">
                </li>
              </ul>
            </div>
      
          </section>

        <div class="section color-nosotros cam-bio">
          <div class="row container">
       <ul class="collapsible popout" data-collapsible="expandable">
       <li>
         <div class="collapsible-header  deep-color">Misión</div>
         <div>
            <p class="tam-tipografia">Brindar a nuestros clientes los mejores productos de nuestra micro-empresa con calidad, servicio rápido y eficiente..
           </p>
          </div>
       </li>
       <li>
         <div class="collapsible-header  deep-color">Visión</div>
         <div>
            <p class="tam-tipografia">Ser reconocidos como una micro-empresa brindando el mejor servicio posible  a las  personas de la ciudad de Pasto  llegando a exportar nuestro productos a gran parte de la ciudad..
           </p>
          </div>
       </li>
       <li>
         <div class="collapsible-header deep-color">Valores</div>
         <div>
           <p class="tam-tipografia">Ética , Honestidad , Responsabilidad , Compromiso , Respeto , Servicio.
          </p>
          </div>
       </li>
     </ul>
          </div>
        </div>
        <app-footer></app-footer>


