/*NOSOTROS*/
.text-nosotros p {
    font-family: 'Wendy One', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    text-align: justify;
    }
    
    .text-nosotros h2{
      font-family: 'Titan One', cursive;
      color: #000000;
    }
    
    .deep-color {
        background-color: #ff6e40 !important;
        font-family: 'Titan One', cursive;
        font-size: 1.8rem;
    }
    
    .collapsible-body {
        border-bottom: 10px solid #ff6e40 !important;
      }
    
    .tam-tipografia{
      font-family: 'Wendy One', sans-serif !important;
      font-size: 1.2rem !important;
    }
    