  <!--Slider-->
  <section>
        <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-fixed-item center">
        <a class="waves-effect waves-light deep-orange accent-2 btn" href="productos.html">Ver Mas</a>
      </div>
      <div class="carousel-item red white-text" href="#one!">
        <img src="images/1.jpg" alt="">
      </div>
      <div class="carousel-item amber white-text" href="#two!">
         <img src="images/2.jpg" alt="">
      </div>
      <div class="carousel-item green white-text" href="#three!">
         <img src="images/3.jpg" alt="">
      </div>
      <div class="carousel-item blue white-text" href="#four!">
         <img src="images/4.jpg" alt="">
      </div>
    </div>
     </section>

 <!--Seccion parallax-->
     <section>
         <div class="parallax-container">
           <div class="parallax"><img src="images/5.jpg"></div>
         </div>
         <div class="section text-inicio cam-bio">
           <div class="row container">
           <h3 class="header center-align">"La bella Lola Marquesitas"</h3>
           <p class="center-align">Somos Tu Espacio.</p>
           </div>
         </div>
         <div class="parallax-container">
           <div class="parallax"><img src="images/6.jpg"></div>
         </div>
     </section>

     <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/navbar.js"></script>
    <script type="text/javascript">
            $(".button-collapse").sideNav({
                 closeOnClick: true,
                 draggable: false,
                 onOpen: function(el) {
                    console.log("Opened");
                    $(".side-nav li").fadeIn();
                    $(".logo-sideNav a img").fadeIn();
                    $(".exitBtn").fadeIn();
                 },
                onClose: function(el) {
                    console.log("Closed");
                    $(".side-nav li").fadeOut();
                    $(".logo-sideNav a img").fadeOut();
                    $(".exitBtn").fadeOut();
                }
            });
            //slider
            $('.carousel.carousel-slider').carousel({fullWidth: true});

            //inicializacion parallax
            $(document).ready(function(){
             $('.parallax').parallax();
           });
            window.onload = function() {
               //Animate loader
               $("body").css("overflow","hidden");

               $(".loaderFirst").animate({width: 0}, 200,"swing",function () {
                   $(".loaderSecond").animate({width: 0}, 200,"swing",function () {
                       $(".loaderThird").animate({width: 0}, 200,"swing",function () {
                           $(".loaderFourth").animate({width: 0}, 200,"swing",function () {
                               $(".loaderFifth").animate({width: 0}, 200,"swing",function () {
                                   $(".loaderIndex").fadeOut();
                                   $("body").css("overflow","auto");
                                   scrolly();
                               });
                           });
                       });
                   });
               });
             }
    </script>

