<app-index></app-index>

<div class="loaderIndex">
  <div class="loaderInner">
      <div class="loaderFirst"></div>
      <div class="loaderSecond"></div>
      <div class="loaderThird"></div>
      <div class="loaderFourth"></div>
      <div class="loaderFifth"></div>
  </div>
</div>

  <!--Slider-->
      <section>
        <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-fixed-item center">
        <a class="waves-effect waves-light deep-orange accent-2 btn" href="productos.html">Ver Mas</a>
      </div>
      <div class="carousel-item red white-text" href="#one!">
        <img src="assets/img/1.jpg" alt="">
      </div>
      <div class="carousel-item amber white-text" href="#two!">
         <img src="assets/img/2.jpg" alt="">
      </div>
      <div class="carousel-item green white-text" href="#three!">
         <img src="assets/img/3.jpg" alt="">
      </div>
      <div class="carousel-item blue white-text" href="#four!">
         <img src="assets/img/4.jpg" alt="">
      </div>
    </div>
     </section>

 <!--Seccion parallax-->
     <section>
         <div class="parallax-container">
           <div class="parallax"><img src="assets/img/5.jpg"></div>
         </div>
         <div class="section text-inicio cam-bio">
           <div class="row container">
           <h3 class="header center-align">"La bella Lola Marquesitas"</h3>
           <p class="center-align">Somos Tu Espacio.</p>
           </div>
         </div>
         <div class="parallax-container">
           <div class="parallax"><img src="assets/img/6.jpg"></div>
         </div>
     </section>

     <footer class="page-footer fo-oter">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Contacto</h5>
                  <p class="grey-text text-lighten-4">La Bella Lola se encuentra ubicada en Dolores Hidalgo en la calle
                    los pinos.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Redes Sociales</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3 tamaño-redes" href="#!">Facebook</a></li>
                    <li><a class="grey-text text-lighten-3 tamaño-redes" href="#!">Instagram</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2014 Copyright Text
              </div>
            </div>
          </footer>

<router-outlet></router-outlet>