/*INICIO*/
.carousel {
    height: 600px !important;
      }
    
    .carousel .indicators .indicator-item {
    height: 16px !important;
    width: 16px !important;
    background-color: #ff6e40ad !important;
    }
    
    .text-inicio p {
    font-family: 'Wendy One', sans-serif;
    font-size: 2rem;
    color: #000000 !important;
    }
    
    .text-inicio h3{
      font-family: 'Titan One', cursive;
      color: #000000;
    }
    
    .deep-orange.accent-2 {
        background-color: #ff6e40 !important;
        font-family: 'Bungee', cursive;
    }
    
    .img-tam{
          max-width: 50% !important;
    }
    
    
    /*NOSOTROS*/
    .text-nosotros p {
    font-family: 'Wendy One', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    text-align: justify;
    }
    
    .text-nosotros h2{
      font-family: 'Titan One', cursive;
      color: #000000;
    }
    
    .deep-color {
        background-color: #ff6e40 !important;
        font-family: 'Titan One', cursive;
        font-size: 1.8rem;
    }
    
    .collapsible-body {
        border-bottom: 10px solid #ff6e40 !important;
      }
    
    .tam-tipografia{
      font-family: 'Wendy One', sans-serif !important;
      font-size: 1.2rem !important;
    }
    
    /*SERVICIOS*/
    .services{
      padding-top: 5%;
    }
    
    /*CONTACTO*/
    .boton{
    background-color: #ff6e40 !important;
    left: 10px;
    bottom: 30px;
    }
    
    .form-1{
      margin-left: 100px !important;
      margin-right: 100px !important;
      margin-bottom: 30px !important;
      margin-top: 80px !important;
      background-color: whitesmoke;
    }
    .tipografia-contact{
      background-color: aliceblue !important;
      font-family: 'Bungee', cursive;
    }
    
    /*PRODUCTOS*/
    .marquesitas {
    background-image: url(assets/img/6.jpg);
    background-size: cover;
    background-position: center;
    }
    
    .marquesitas h2{
          font-family: 'Titan One', cursive;
          color: #000000;
    }
    
    #text-mar{
      font-family: 'Titan One', cursive;
      font-size: 1rem !important;
      text-align: center;
    }
    
    .text-marque p{
      font-family: 'Titan One', cursive;
      font-size: .9rem !important;
      color: #ff6e40 !important;
    }
    
    .card .card-reveal .card-title {
        cursor: pointer;
        display: block;
        font-family: 'Titan One', cursive;
        font-size: 1rem !important;
    }
    
    
    
    #imagen {
        margin: 0px;
        border: 0px solid #eee;
        -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
        -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    
    #imagen:hover {
        -webkit-transform: rotate(-7deg);
        -moz-transform: rotate(-7deg);
        -o-transform: rotate(-7deg);
    }
    /*FOOTER*/
    .fo-oter{
      padding-top: 20px !important;
      color: #fff !important;
      background: rgba(0, 0, 0, 0.75);
      font-family: 'Bungee', cursive;
    }
    
    .fo-oter p{
      font-size: .9rem;
      font-family: 'Bungee', sans-serif !important;
      text-align: justify;
    
    }
    
    .tamaño-redes{
      font-size: .9rem;
      font-family: 'Bungee', sans-serif !important;
    }
    