<app-menu></app-menu>

  <!--Slider-->
  <section>
        <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-fixed-item center">
        <a class="waves-effect waves-light deep-orange accent-2 btn" href="productos.html">Ver Mas</a>
      </div>
      <div class="carousel-item red white-text" href="#one!">
        <img src="assets/img/1.jpg" alt="">
      </div>
      <div class="carousel-item amber white-text" href="#two!">
         <img src="assets/img/2.jpg" alt="">
      </div>
      <div class="carousel-item green white-text" href="#three!">
         <img src="assets/img//3.jpg" alt="">
      </div>
      <div class="carousel-item blue white-text" href="#four!">
         <img src="assets/img//4.jpg" alt="">
      </div>
    </div>
     </section>

 <!--Seccion parallax-->
     <section>
         <div class="parallax-container">
           <div class="parallax"><img src="assets/img/5.jpg"></div>
         </div>
         <div class="section text-inicio cam-bio">
           <div class="row container">
           <h3 class="header center-align">"La bella Lola Marquesitas"</h3>
           <p class="center-align">Somos Tu Espacio.</p>
           </div>
         </div>
         <div class="parallax-container">
           <div class="parallax"><img src="assets/img/5.jpg"></div>
         </div>
     </section>

     <app-footer></app-footer>
