<app-index></app-index>

<div class="loaderIndex">
  <div class="loaderInner">
      <div class="loaderFirst"></div>
      <div class="loaderSecond"></div>
      <div class="loaderThird"></div>
      <div class="loaderFourth"></div>
      <div class="loaderFifth"></div>
  </div>
</div>

<!-- Navbar DESKTOP -->
<section>
  <div class="customNavbar">
      <div class="innerNavbar">
          <div class="navbarContent">
              <div class="logoNavbar">
                  <a href="index.html"><img class="responsive-img img-tam" src="images/logo-1.png" alt=""></a>
              </div>
              <div class="navbarList">
                  <div class="row">
                      <div class="col xl11 l11">
                          <div class="navbarOptions">
                              <ul>
                                <li><a href="nosotros.html">Nosotros</a></li>
                                <li><a href="productos.html">Nuestros Productos</a></li>
                                <li><a href="servicio.html">Servicio de Fiestas</a></li>
                                <li><a href="contacto.html">Contacto</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Navbar RESPONSIVE -->
    <div class="innerResponsive row">
        <div class="hamburgerBtn">
            <a data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </div>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <div class="logo-sideNav">
            <a href="index.html"><img class="responsive-img cssanimation flipX" src="img/logo.png" alt=""></a>
        </div>
        <li><a href="nosotros.html" ><span class="cssanimation fadeInLeft">Nosotros</span></a></li>
        <li><a href="productos.html"><span class="cssanimation fadeInLeft">Nuestros Productos</span></a></li>
        <li><a href="servicio.html"><span class="cssanimation fadeInLeft">Servicio de Fiestas</span></a></li>
        <li><a href="contacto.html"><span class="cssanimation fadeInLeft">Contacto</span></a></li>

        <div class="exitBtn">
            <a><i class="fa fa-times-circle cssanimation fadeInBottom" aria-hidden="true"></i></a>
        </div>
        <div class="borderTop"></div>
        <div class="borderBttom"></div>
    </ul>
  </section>

  <!--Slider-->
      <section>
        <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-fixed-item center">
        <a class="waves-effect waves-light deep-orange accent-2 btn" href="productos.html">Ver Mas</a>
      </div>
      <div class="carousel-item red white-text" href="#one!">
        <img src="images/1.jpg" alt="">
      </div>
      <div class="carousel-item amber white-text" href="#two!">
         <img src="images/2.jpg" alt="">
      </div>
      <div class="carousel-item green white-text" href="#three!">
         <img src="images/3.jpg" alt="">
      </div>
      <div class="carousel-item blue white-text" href="#four!">
         <img src="images/4.jpg" alt="">
      </div>
    </div>
     </section>

 <!--Seccion parallax-->
     <section>
         <div class="parallax-container">
           <div class="parallax"><img src="images/5.jpg"></div>
         </div>
         <div class="section text-inicio cam-bio">
           <div class="row container">
           <h3 class="header center-align">"La bella Lola Marquesitas"</h3>
           <p class="center-align">Somos Tu Espacio.</p>
           </div>
         </div>
         <div class="parallax-container">
           <div class="parallax"><img src="images/6.jpg"></div>
         </div>
     </section>

     <footer class="page-footer fo-oter">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Contacto</h5>
                  <p class="grey-text text-lighten-4">La Bella Lola se encuentra ubicada en Dolores Hidalgo en la calle
                    los pinos.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Redes Sociales</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3 tamaño-redes" href="#!">Facebook</a></li>
                    <li><a class="grey-text text-lighten-3 tamaño-redes" href="#!">Instagram</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2014 Copyright Text
              </div>
            </div>
          </footer>

<router-outlet></router-outlet>