<section>
    <div class="customNavbar">
        <div class="innerNavbar">
            <div class="navbarContent">
                <div class="logoNavbar">
                    <a><img class="responsive-img img-tam" src="assets/img/logo1.png" alt=""></a>
                </div>
                <div class="navbarList">
                    <div class="row">
                        <div class="col xl11 l11">
                            <div class="navbarOptions">
                                <ul>
                                    <li><a routerLink="/index" routeLinkActive="active">Inicio</a></li>
                                    <li><a routerLink="/nosotros" routeLinkActive="active">Nosotros</a></li>
                                    <li><a href="https://shoppingcart-bellalola.herokuapp.com" routeLinkActive="active">Productos</a></li>
                                    <li><a routerLink="/navcruds" routeLinkActive="active">Catalogos</a></li>
                                    <li><a routerLink="/contacto" routeLinkActive="active">Contacto</a></li>
                                    <li><a><i mat-button [matMenuTriggerFor]="menu" class="material-icons">more_vert</i></a></li>
                                    <mat-menu #menu="matMenu">
                                        <button (click)="onLogout()" mat-menu-item >
                                            <span>Cerra Sesión</span>
                                        </button>
                                    </mat-menu>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/nosotros" routeLinkActive="active">Nosotros</a></li>
        <li><a routerLink="/productos" routeLinkActive="active">Productos</a></li>
        <li><a routerLink="/navcruds" routeLinkActive="active">Catalogos</a></li>
        </ul>
    </div>
</nav> -->