<div class="customNavbar">
    <div class="innerNavbar">
        <div class="navbarContent">
            <div class="logoNavbar">
                <a href="index.html"><img class="responsive-img img-tam" src="assets/img/logo1.png" alt=""></a>
            </div>
            <div class="navbarList">
                <div class="row">
                    <div class="col xl11 l11">
                        <div class="navbarOptions">
                            <ul>
                                <li><a routerLink="/products" routeLinkActive="active">Productos</a></li>
                                <li><a routerLink="/services" routeLinkActive="active">Servicios</a></li>
                                <li><a routerLink="/users" routeLinkActive="active">Usuarios</a></li>
                                <li><a routerLink="/clients" routeLinkActive="active">Clientes</a></li>
                                <li><a routerLink="/roles" routeLinkActive="active">Roles</a></li>
                                <li><a routerLink="/publicidad" routeLinkActive="active">Publicidad</a></li>
                                <li><a routerLink="/supplies" routeLinkActive="active">Insumos</a></li>
                                <li><a routerLink="/inventories" routeLinkActive="active">Inventario</a></li> 
                                <li><a routerLink="/index" routeLinkActive="active">Inicio</a></li>
                          
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>