<app-navcruds></app-navcruds>
<div class="container">
  <div class="row">
    <!-- <div class="col s12">
      <div class="card">
        <div class="card-content">
          <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]= "userService.selectedUser._id">
            <div class="row">
              <div class="imput-field col s12">
                <input type="text" name="first_name" #first_name="ngModel" 
                [(ngModel)] = "userService.selectedUser.first_name"
                placeholder="Enter your Name">
              </div>
              <div class="imput-field col s12">
                <input type="text" name="last_name" #last_name="ngModel" 
                [(ngModel)] = "userService.selectedUser.last_name"
                placeholder="Enter your Last Name">
              </div>
              <div class="imput-field col s12">
                <input type="text" name="e_mail" #e_mail="ngModel" 
                [(ngModel)] = "userService.selectedUser.e_mail"
                placeholder="Enter your E-mail">
              </div>
              <div class="imput-field col s12">
                <input type="text" name="perfil" #perfil="ngModel" 
                [(ngModel)] = "userService.selectedUser.perfil"
                placeholder="Enter your Perfil">
              </div>
              <div class="card-action">
                <div class="input-fiel col s12">
                  <button class="btn red" (click)="resetForm(userForm)">Clean</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <div class="col s7">
      <table>
        <thead>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Contraseña</th>
          <th>Operaciones</th>
        <tbody>
          <tr *ngFor="let user of userService.users">
              <td> {{ user.first_name }}</td>
              <td> {{ user.last_name }}</td>
              <td> {{ user.email }}</td>
              <td> {{ user.password }}</td>
              <td>
                <a (click)="editUser(user)">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deleteUser(user._id)">
                    <i class="material-icons">delete</i>
                  </a>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
