<section>
    <div class="customNavbar">
        <div class="innerNavbar">
            <div class="navbarContent">
                <div class="logoNavbar">
                    <a href="index.html"><img class="responsive-img img-tam" src="images/logo-1.png" alt=""></a>
                </div>
                <div class="navbarList">
                    <div class="row">
                        <div class="col xl11 l11">
                            <div class="navbarOptions">
                                <ul>
                                  <li><a href="nosotros.html">Nosotros</a></li>
                                  <li><a href="productos.html">Nuestros Productos</a></li>
                                  <li><a href="servicio.html">Servicio de Fiestas</a></li>
                                  <li><a href="contacto.html">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar RESPONSIVE -->
      <div class="innerResponsive row">
          <div class="hamburgerBtn">
              <a data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </div>
      </div>
      <ul class="side-nav" id="mobile-demo">
          <div class="logo-sideNav">
              <a href="index.html"><img class="responsive-img cssanimation flipX" src="img/logo.png" alt=""></a>
          </div>
          <li><a href="nosotros.html" ><span class="cssanimation fadeInLeft">Nosotros</span></a></li>
          <li><a href="productos.html"><span class="cssanimation fadeInLeft">Nuestros Productos</span></a></li>
          <li><a href="servicio.html"><span class="cssanimation fadeInLeft">Servicio de Fiestas</span></a></li>
          <li><a href="contacto.html"><span class="cssanimation fadeInLeft">Contacto</span></a></li>

          <div class="exitBtn">
              <a><i class="fa fa-times-circle cssanimation fadeInBottom" aria-hidden="true"></i></a>
          </div>
          <div class="borderTop"></div>
          <div class="borderBttom"></div>
      </ul>
    </section>
